.fcc-btn {
  background-color: rgb(78, 129, 240);
  color: white;
  padding: 15px 25px;
  text-decoration: none;
}
.fcc-btn:hover {
  background-color: #7f8be0;
}
.fcc-btn {
font-size:40px;
text-align: center;
font-weight:700;
color:#fff;
height: 50px;
line-height:40px;
width:90px;
margin-left: 40%;
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;behavior:url(js/PIE.htc);
position:relative;
text-decoration:none
}

.u-section-10 .u-sheet-1 {
  min-height: 419px;
}

.u-section-10 .u-image-1 {
  width: 337px;
  height: 393px;
  margin: 13px 55px 0 auto;
}

.u-section-10 .u-image-2 {
  width: 456px;
  height: 296px;
  margin: -339px auto 0 0;
}

.u-section-10 .u-image-3 {
  width: 207px;
  height: 100%;
  margin: -180px 43%;

}

.u-section-10 .u-text-2 {
  margin: -270px 43%;
  width: 207px;
}


.u-section-3 .u-sheet-3 {
  min-height: 459px;
}

.u-section-3 .u-image-5 {
  width: 448px;
  height: 448px;
  margin: -450px 0 0 auto;
}

.u-section-3 .u-image-6 {
  width: 316px;
  left: 1500px;
  height: 450px;

}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -290px 471px 60px 438px;
}

.u-section-2 .u-sheet-2 {
  min-height: 568px;
}

.u-section-2 .u-image-4 {
  width: 293px;
  height: 390px;
  margin: 0px 54px 0 auto;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: -490px 300px 0 30px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 54px 29px 793px;
}

audio{
  margin-top: 30px;
  margin-left: 30px;
}     

.u-text-custom-color-1{
  color: #3d7fe9 !important;
}

